/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* ESTILOS AL BODY */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6a700 ;
}

.swal2-popup {
    font-size: 10px !important;
    letter-spacing: 1px !important; 
}

/* FOOTER */

.footer {
    background-color: #d9d9d9;
    border-radius: 10px;
}

.redes {
    width: 22px;
}

/* HEADER */

.barraNavegacion {
    background-color: #d9d9d9;
}

.barraNavegacion a {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.logo {
    width: 400px;
}

.botonesNavegador {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.carrito {
    border: none;
    background-color: #d9d9d9;
}

.carrito img{
    width: 50px;
}

.usuario {
    display: flex;
    flex-direction: row;
}

#cerrarSesion {
    border: none; 
    background-color: #d9d9d9;
    margin-left: 10px;
}

#cerrarSesion img{
    width: 25px;
    background-color: #d9d9d9;
    padding: 0px 0px 5px 5px;
}


/* INDEX */

.fondo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../img/261764078_10225810009426475_7111499543460077320_n.jpg);
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

#nombreUsuario h5 {
    animation-name: titulo;
    animation-duration: 3s;
    animation-iteration-count: infinite; 
}
@keyframes titulo {
    0% {
      opacity: 0; }
    50% {
      opacity: 100%; }
    100% {
      opacity: 0;  
    } }
    
.botonProductos {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    color: black;
    background-color: #f6a700;
    background-image: linear-gradient(to right, #f6a700, #d9d9d9 );
    padding: 5px 20px;
    font-weight: bolder;
    border: 1px black solid;
    border-radius: 10px;
}

.botonProductos:hover {
    color: black;
    background-image: linear-gradient(to left, #f6a700, #d9d9d9 );
    box-shadow: 1px 1px 5px;
    transition: 0.2s;
    padding: 10px 25px;
}

#seccion1 {
    height: 100px;
}

/* PRODUCTOS */

#productoContenedor {
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
/*     grid-column-gap: 10px;
    grid-row-gap: 1px; */
}

.card .card-img .card-title {
    color: dodgerblue;
    position: unset;
}  

.card-img {
    height: 200px;
}

.card{
    margin: 20px;
    box-shadow: black 0px 5px 25px 0px;
}

.botonCompra {
    font-size: 15px;
    letter-spacing: 1px;
    color: black;
    background-color: #d9d9d9;
    background-image: linear-gradient(#f6a700, #d9d9d9 );
    padding: 3px 15px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px black solid;
}

/* Modal */

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 5px;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    transition: opacity 0.3s ease;
    border-radius: 10px ;
    z-index: 100;
  } 
  
/* hacer visible el modal  */
.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}
  
.modal-carrito{
    width: 800px;
    height: 400px;
    background-color: #d9d9d9 ;
    padding: 10px;
    overflow: scroll;
    border: 2px solid black;
}

/* elementos del carrito */
.nombreProdCarrito{
    width: 120px;
}

.precioProdCarrito {
    width: 80px;
}

.productoEnCarrito {
    border-left: 5px solid #f6a700;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sumarRestarCarrito {
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
}

.sumarBoton {
    margin: 0px 0px 15px 5px;
}

.restaBoton {
    margin: 0px 5px 15px 0px;
}

#vaciarCarrito {
    text-align: end;
}

.boton-eliminar {
    background-color: #d9d9d9;
    border: none;
    font-size: 20px;
    position: relative;
    margin-bottom: 18px;
}

.containerForm {
    display: flex;
    justify-content: center;
    position: fixed;
/*     text-align: center; */
    bottom: 1px; 
    visibility: hidden;
    border-radius: 10px ;
    z-index: 5;
}

.containerForm-active {
    visibility: visible;
    z-index: 100;
}

/* #compraProductos {
    width: 50%;
} */

.containerFormDiv{
    border: 1px black solid;
    width: 70%;
    background-color: #d9d9d9;
}
.containerForm h2 {
    text-align: center;
}

.containerFormCompra {
    display: flex;
    flex-wrap: row;
    justify-content: space-around;
}

.labelForm {
    width: 250px;
}

.datosPersonales {
    width: 30%;
    margin: 20px;
}

/* .datos {
    width: 90%;
} */

#compraProductos {
    width: 50%;
    margin: 20px;
}

.productoEnForm {
    /* width: 100%; */
    border-bottom: 1px solid #f6a700;
   /*  margin: 20px; */
    display: flex;
    justify-content: space-between;
}

#btnFinalizarCompra {
    width: 80px;
}

/* MEDIA QUERIES */

@media (max-width: 1023px) {
    .botonesNavegador {
        width: auto;
    }
}

@media (max-width: 600px) {
    .logo {
        width: 295px;
        ;
    }
}